<mat-toolbar class="sticky" color="primary">
  <button
    class="show-on-small-screen"
    mat-icon-button
    (click)="toggleSidenav()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>
    <a routerLink="" class="h1">ThrifyPrint</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li class="hide-on-small-screen">
      <a mat-button routerLink="/order" routerLinkActive="mat-accent">Order</a>
    </li>
    <li *ngIf="!user" class="hide-on-small-screen">
      <a mat-button routerLink="/auth" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!user" class="hide-on-small-screen">
      <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent"
        >Signup</a
      >
    </li>

    <!-- <li *ngIf="user">
              <button mat-button (click)="logout()">Logout</button>
            </li> -->
    <li>
      <a mat-icon-button routerLink="/cart" routerLinkActive="mat-accent">
        <mat-icon matBadge="2" matBadgeColor="accent">
          shopping_cart
        </mat-icon>
      </a>
    </li>
    <li>
      <div>
        <a mat-button *ngIf="user" [matMenuTriggerFor]="menu">
          <mat-icon>
            account_circle
          </mat-icon>
          {{ user.fullname.split(" ")[0] }}
        </a>
        <mat-menu #menu="matMenu">
          <button (click)="logout()" mat-menu-item>logout</button>
        </mat-menu>
      </div>
    </li>
  </ul>
</mat-toolbar>
