<mat-toolbar class="sticky" color="primary">
  <button
    class="show-on-small-screen"
    mat-icon-button
    (click)="toggleSidenav()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>
    <a routerLink="" class="h1 hide-on-small-screen">ThriftyPrint</a>
    <a routerLink="" class="h1 show-on-small-screen" style="font-size: large"
      >ThriftyPrint</a
    >
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="user && user.roles[0] == 'admin'" class="hide-on-small-screen">
      <a mat-button routerLink="/admin" routerLinkActive="mat-accent">Admin</a>
    </li>
    <li class="hide-on-small-screen">
      <a
        mat-button
        routerLink=""
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="mat-accent"
        >Order</a
      >
    </li>
    <li class="hide-on-small-screen">
      <a
        mat-button
        routerLink="/about"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="mat-accent"
        >About</a
      >
    </li>
    <li *ngIf="!user" class="hide-on-small-screen">
      <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent"
        >Login</a
      >
    </li>
    <li *ngIf="!user" class="hide-on-small-screen">
      <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent"
        >Signup</a
      >
    </li>

    <!-- <li *ngIf="user">
              <button mat-button (click)="logout()">Logout</button>
            </li> -->

    <li>
      <div>
        <a mat-button *ngIf="user" [matMenuTriggerFor]="menu">
          <mat-icon> account_circle </mat-icon>
          <label class="hide-on-small-screen">
            {{ user.fullname.split(" ")[0] }}
          </label>
        </a>
        <label></label>
        <mat-menu #menu="matMenu">
          <label
            *ngIf="user"
            mat-menu-item
            class="show-on-small-screen menu-text"
            style="color: red"
          >
            {{ user.fullname.split(" ")[0] }}
          </label>

          <a
            routerLink="user/orders"
            mat-menu-item
            class="menu-text"
            style="color: black"
          >
            My Orders
          </a>
          <button (click)="logout()" mat-menu-item class="menu-text">
            Logout
          </button>
        </mat-menu>
      </div>
    </li>
    <li>
      <a mat-icon-button *ngIf="user" routerLink="/cart">
        <mat-icon matBadge="{{ cartItemCount }}" matBadgeColor="accent">
          shopping_cart
        </mat-icon>
      </a>
      <a mat-icon-button *ngIf="!user" routerLink="/auth">
        <mat-icon> shopping_cart </mat-icon>
      </a>
    </li>
  </ul>
</mat-toolbar>
