<h2 mat-dialog-title>Please sign in to add to your cart.</h2>
<mat-dialog-content class="mat-typography"> </mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close>CLOSE</button>
  <a
    mat-stroked-button
    mat-dialog-close="true"
    [routerLink]="['/auth']"
    routerLinkActive="router-link-active"
    cdkFocusInitial
    >SIGN IN</a
  >
  <a
    mat-stroked-button
    mat-dialog-close="true"
    [routerLink]="['/auth/signup']"
    routerLinkActive="router-link-active"
    >SIGN UP</a
  >
</mat-dialog-actions>
