.container {
  display: block;
  height: 500px;
  max-width: 800px;
  padding: 2em;
  margin: auto;
}
.paragraph {
  font-size: 16px;
}

a {
  text-decoration: none;
}

a:link {
  text-decoration: none;
  color: #f0361d;
}

a:visited {
  text-decoration: none;
  color: #f0361d;
}

a:hover {
  text-decoration: underline;
  color: rgb(150, 0, 0);
}
