.upper-padding {
  margin-top: 8px;
}

mat-card {
  margin-top: 8px;
}

mat-card-content {
  padding: 8px;
}

button {
  margin: 8px;
}

.example-radio-group {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
  justify-content: center;
}

.example-radio-button {
  margin: 5px;
}

.button {
  // display: flex;
  margin-top: 8px;
  margin-left: 0;
  // margin-right: auto;
  // float: left;
  height: 36px;
}

.mat-stroked-button {
  border: 1px solid #656565;
}

#example-radio-group-label {
  text-align: center;
}

mat-radio-button {
  margin: 8px;
}
#drop_zone {
  background-color: white;
  border: 2px dashed black;

  border-radius: 8px;
}

#drop_zone.on_dragover {
  background-color: rgb(200, 200, 200) !important;
}

#drop_zone.file_loaded {
  border: 0;
  background-color: white;
}

a {
  text-decoration: none;
}

a:link {
  text-decoration: none;
  color: #f0361d;
}

a:visited {
  text-decoration: none;
  color: #f0361d;
}

a:hover {
  text-decoration: underline;
  color: rgb(150, 0, 0);
}
