<div class="w3-main" style="max-width: 1250px; margin: auto;">
  <div class="w3-row-padding">
    <div class="w3-col s12 m8 l9">
      <mat-card id="engine" style="max-height: 50rem;">
        <mat-progress-bar
          *ngIf="loading"
          mode="indeterminate"
        ></mat-progress-bar>
        <div class="engine-wrapper" width="100%">
          <canvas
            #rendererCanvas
            id="renderCanvas"
            width="100%"
            height="100px"
          ></canvas>
        </div>
        <button mat-stroked-button type="button" (click)="filePicker.click()">
          UPLOAD STL
        </button>
        <input
          type="file"
          style="visibility: hidden;"
          #filePicker
          (change)="onFilePicked($event)"
        />
      </mat-card>
      <mat-card>
        <form (ngSubmit)="onFormSubmit()" #modelForm="ngForm">
          <div class="form-group w3-row-padding">
            <div class="w3-col s12 l4">
              <mat-form-field>
                <input
                  class="form-control"
                  matInput
                  id="title"
                  placeholder="Project Title"
                  [(ngModel)]="model.title"
                  name="title"
                  [disabled]="!formDisplay"
                  #title="ngModel"
                  required
                />
                <mat-error *ngIf="title.valid"></mat-error>
              </mat-form-field>
            </div>

            <div class="w3-col s12 m7 l4">
              <mat-radio-group
                class="example-radio-group form-control"
                [(ngModel)]="model.units"
                name="unitsSelect"
                (change)="onUnitSelect()"
                [disabled]="!formDisplay"
                ><p style="margin: 6px;">Units:</p>
                <mat-radio-button
                  class="example-radio-button"
                  [checked]="unit === model.units"
                  *ngFor="let unit of units"
                  [value]="unit"
                >
                  {{ unit }}
                </mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="w3-col s12 m5 l4">
              <!-- <label style="display: block;">Enter a Quantity</label> -->

              <mat-form-field>
                <mat-label>Quantity</mat-label>

                <input
                  class="form-control"
                  style="display: block;"
                  type="number"
                  matInput
                  [(ngModel)]="model.quantity"
                  name="units"
                  #quantity="ngModel"
                  [disabled]="!formDisplay"
                  (input)="updateTotal()"
                  required
                />
                <mat-error *ngIf="!quantity.valid">Enter a quantity</mat-error>
              </mat-form-field>
            </div>
            <div class="w3-col s12">
              <mat-form-field>
                <textarea
                  class="form-control"
                  matInput
                  [(ngModel)]="model.comment"
                  name="comment"
                  #comment="ngModel"
                  [disabled]="!formDisplay"
                  placeholder="Special instructions for printing"
                ></textarea>
                <mat-error *ngIf="!comment.valid"
                  >Enter a valid comment</mat-error
                >
              </mat-form-field>
            </div>
            <div class="w3-col s12">
              <button
                mat-flat-button
                color="accent"
                type="submit"
                [disabled]="!modelForm.form.valid"
                (click)="updateModel()"
              >
                UPDATE
              </button>
            </div>
          </div>
        </form>
      </mat-card>
    </div>
    <div class="w3-col s12 m4 l3">
      <mat-card>
        <mat-card-title>Order</mat-card-title>
        <mat-card-content
          >Your model will be printed on a MarkForged 3D Printer using Onyx
          filament.</mat-card-content
        >
      </mat-card>
      <mat-card>
        <mat-card-content>
          <p style="text-align: left;">
            Volume:
            <span style="float: right; font-weight: bold;">
              {{ modelVolume }} {{ modelUnit }}^3
            </span>
          </p>
          <mat-divider style="margin-bottom: 8px;" [inset]="true">
          </mat-divider>
          <div id="textContainer">
            <p style="text-align: left;">
              Cost to print:

              <span style="float: right; font-weight: bold; color: #cc2400;">
                ${{ modelCost }}
              </span>
            </p>
          </div>
          <div id="textContainer">
            <p style="text-align: left;">
              Total price:

              <span style="float: right; font-weight: bold; color: #cc2400;">
                ${{ totalCost }}
              </span>
            </p>
          </div>
          <mat-divider [inset]="true"></mat-divider>
          <div>
            <button
              [disabled]="!formDisplay"
              mat-flat-button
              color="accent"
              class="button"
              style="margin-top: 16px;"
            >
              <mat-icon>play_arrow </mat-icon>
              ORDER NOW
            </button>
          </div>
          <div>
            <button
              [disabled]="!formDisplay"
              mat-flat-button
              color="accent"
              class="button"
              style="margin-bottom: 0;"
              (click)="addToCart()"
            >
              <mat-icon>
                add_shopping_cart
              </mat-icon>
              ADD TO CART
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
