.upper-padding {
  margin-top: 8px;
}

mat-card {
  margin-top: 8px;
}

mat-card-content {
  padding: 8px;
}

button {
  margin: 8px;
}

.example-radio-group {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
  justify-content: center;
}

.example-radio-button {
  margin: 5px;
}

.button {
  // display: flex;
  // margin-top: 8px;
  margin-left: 0;
  // margin-right: auto;
  // float: left;
}

.mat-stroked-button {
  border: 1px solid #656565;
}

#example-radio-group-label {
  text-align: center;
}

mat-radio-button {
  margin: 8px;
}
