table {
  box-shadow: none;
  width: 100%;
  // display: block;
}

.mat-form-field {
  width: auto;
  margin: auto;
  height: auto;
  justify-content: center;
  vertical-align: auto;
  margin-top: 16px;
  margin-bottom: 0;
  border-top: 0px;
}

::ngdeep .background-red {
  // background-color: red;
  margin-bottom: 0;
  padding-bottom: 0 !important;
}

.mat-form-field-infix {
  border-top: 0px;
  background-color: red !important;
}

.mat-form-field-wrapper {
  padding-bottom: 0px !important;
}

label {
  text-align: center;
  margin-left: 20px;
  white-space: nowrap;
  overflow: hidden;

  justify-self: center;
}

p {
  font-size: medium;
}

.text-container {
  // height: 36px;
  border: 0px solid grey;
  border-radius: 4px;
  // background-color: ;
  font-family: "rubik", sans-serif;
  font-weight: 500;
  font-size: small;
  font-style: italic;
  color: white;
  text-align: center;
  padding: 8px;
  // text-justify: ;
  align-content: center;
}

.red {
  background-color: #c72b04;
}
.yellow {
  background-color: #e2a600;
}
.green {
  background-color: #008d00;
}
.blue {
  background-color: #2400c7;
}

ul {
  list-style-type: none;
}

li {
  font-size: 20;
  color: rgb(102, 102, 102);
}
span {
  color: black;
}
