<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />

<div
  class="w3-row-padding"
  style="max-width: 1250px; margin: auto; padding-top: 16px;"
>
  <div class="w3-col s12 l9">
    <mat-card>
      <a routerLink="" mat-flat-button color="primary">
        <mat-icon>arrow_back_ios</mat-icon>BACK
      </a>
      <table mat-table [dataSource]="cart" class="mat-elevation-z8">
        <!-- Image Column -->
        <ng-container matColumnDef="imgUrl">
          <th mat-header-cell *matHeaderCellDef>Image Url</th>
          <td mat-cell *matCellDef="let element">
            <img style="max-height: 56px;" [src]="element.imgUrl" />
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <!-- Item Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Title</th>
          <td mat-cell *matCellDef="let element">
            <p class="no-over-flow">{{ element.model.title }}</p>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef>Quantity</th>
          <td mat-cell *matCellDef="let element">
            <mat-form-field class="example-form-field">
              <input
                type="number"
                matInput
                (change)="onUpdate(element)"
                [(ngModel)]="element.model.quantity"
              />
            </mat-form-field>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Cost Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>Price</th>
          <td mat-cell *matCellDef="let transaction">
            {{ transaction.price * transaction.model.quantity | currency }}
          </td>
          <td mat-footer-cell *matFooterCellDef>
            {{ totalPrice | currency }}
          </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-stroked-button
              color="warn"
              (click)="onDelete(element)"
              class="delete-button"
            >
              DELETE
            </button>
          </td>
          <td mat-footer-cell *matFooterCellDef>
            <button
              mat-flat-button
              color="warn"
              (click)="onClear()"
              class="delete-button"
            >
              CLEAR
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
      </table>
    </mat-card>
  </div>
  <div class="w3-col s12 l3">
    <mat-card>
      <mat-card-content>
        <p style="text-align: left;">
          Item Subtotal:
          <span style="float: right; font-weight: bold;">
            {{ totalPrice | currency }}
          </span>
        </p>
        <mat-divider style="margin-bottom: 8px;" [inset]="true"> </mat-divider>
        <div id="textContainer">
          <p style="text-align: left;">
            Shipping:

            <span style="float: right; font-weight: bold;">
              {{ shippingCost | currency }}
            </span>
          </p>
        </div>
        <div id="textContainer">
          <p style="text-align: left;">
            Estimated Tax:

            <span style="float: right; font-weight: bold;">
              {{ totalPrice * taxRate | currency }}
            </span>
          </p>
        </div>
        <mat-divider [inset]="true" style="margin-bottom: 8px;"></mat-divider>
        <div id="textContainer">
          <p style="text-align: left;">
            Final Total:

            <span style="float: right; font-weight: bold; color: #cc2400;">
              {{ totalPrice + totalPrice * taxRate + shippingCost | currency }}
            </span>
          </p>
        </div>
        <mat-divider [inset]="true"></mat-divider>
      </mat-card-content>
      <div #paypal></div>
    </mat-card>
  </div>
</div>
