.upper-padding {
  margin-top: 8px;
}

mat-card {
  margin-top: 8px;
}

mat-card-content {
  padding: 8px;
}

button {
  margin: 8px;
}

.example-radio-group {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}
