.login-card {
  max-width: 400px;
  margin: 10% auto;
}

mat-form-field {
  width: 100%;
  // display: flex;
}

mat-spinner {
  margin: auto;
}

a {
  text-decoration: none;
}

a:link {
  text-decoration: none;
  color: #f0361d;
}

a:visited {
  text-decoration: none;
  color: #f0361d;
}

a:hover {
  text-decoration: underline;
  color: rgb(150, 0, 0);
}
